
body, p {
	margin: 0;
	padding: 0;
	font-family: arial,sans-serif;
	font-size: 14px;
}

nav {
	padding: 2em;
	display: flex;
	justify-content: space-around;
	width: 15%;
	margin-left: auto;
	
}
nav a {
	color: black;
}
a {
	
	text-decoration: none;
}

nav img.options {
	width: 20px;
}
nav img.user {
	width: 20px;
	border-radius: 150px;
}
main{
	width:50%;
	margin: 7.6em auto;
	text-align: center;
}
main img{
	width: 50%;
}
input {
	width: 80%;
	padding: 1em 1em 1em 30px;
	border-radius: 30px;
	border: 1px solid #9aa0a6;
}
.btn-container {
	margin-top: 1em;
}

.btn-container button {
	padding: 0.8em 1.2em;
	border: none;
	font-family: arial,sans-serif;
}

.btn-container button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
	background-color: #f8f9fa;
	border: 1px solid #dadce0;
	color:   #202124;
}

main p {
	margin-top: 40px;
}

main p a {
	margin-right: 0.8em;
}

footer {
	background-color: rgb(240, 236, 236);
}

.footer_top{
	padding: 1em 1em 1em 2em;
	
}
.footer_bottom{
	padding: 1em 1em 1em 2em;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #9aa0a6;;
}

.footer_top p {
	color: #70757a;
}
.footer_bottom a {
	color: #70757a;
}

div.left a{
	margin-right: 1em;
}

div.right a{
	margin-right: 1em;
}